@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "media";

/* ---------------------------------------------------------------------  320  --------------------------------------------------------------------- */
@media (min-width: 320px) {
	.wrapper {
		height: 100%;
		margin: 0 auto;
		border-radius: 5px;
		overflow: hidden;

		display: flex;
		flex-direction: column;
		position: relative;
	}
	/* --- header --- */
	.header {
		margin-bottom: 5px;
		

		&__inner {
			overflow: hidden;
			height: auto;
			display: flex;
			justify-content: flex-end;
			margin-right: 0;
		}
	}

	.nav li a {
		color: #533557;
	}

	/* summery wrap svg */
	.svg-wrapper {
		position: relative;
		top: 11px;
	}

	.shape {
		fill: transparent;
		stroke-dasharray: 140 540;
		stroke-dashoffset: -474;
		stroke-width: 8px;
		stroke: #c4dfe6;
	}

	.summery-link {
		position: absolute;
		left: 22%;
		bottom: 11%;
	}

	@keyframes draw {
		0% {
			stroke-dasharray: 140 540;
			stroke-dashoffset: -474;
			stroke-width: 8px;
		}
		100% {
			stroke-dasharray: 760;
			stroke-dashoffset: 0;
			stroke-width: 2px;
		}
	}

	.svg-wrapper:hover .shape {
		-webkit-animation: 0.5s draw linear forwards;
		animation: 0.5s draw linear forwards;
	}
	/* summery wrap svg */
	.nav {
		margin: 14px 7px;
		display: flex;
		align-items: center;

		&__menu {
			letter-spacing: 0.1em;
			margin-right: 46px;
		}
		&__menu li {
			display: none;
		}

		&__menu li + li {
			margin-left: 46px;
		}

		/* burger start */
		&__burger {
			width: 26px;
			height: 26px;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			cursor: pointer;
			transition: transform 330ms ease-out;
		}

		&__burger.open {
			transform: rotate(-45deg);

		}
	}

	.menu .menu__item {
		color: $main-color;
	}

	.menu .menu__item {
		background-image: linear-gradient(#c4dfe6, #c4dfe6);
		background-position: 50% 100%;
		background-repeat: no-repeat;
		background-size: 0% 1px;
		padding-bottom: 7px;
		transition: background-size 0.3s;
	}
	.menu .menu__item:hover {
		background-size: 100% 1px;
	}

	.menu .summery-link:hover {
		background-size: 0;
	}

	.line-menu {
		background-color: #c4dfe6;
		border-radius: 3px;
		width: 100%;
		height: 4px;
	}

	.line-menu.half {
		width: 45%;
	}

	.line-menu.start {
		transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
		transform-origin: right;
	}

	.open .line-menu.start {
		transform: rotate(-90deg) translateX(4px);
	}

	.line-menu.end {
		align-self: flex-end;
		transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
		transform-origin: left;
	}

	.open .line-menu.end {
		transform: rotate(-90deg) translateX(-4px);
	}


	.burger{
		
		
		&__body {
		
			min-width: 100%;
			height: 100vh;
			
			background-color: #000;
			opacity: 0.7;

			position: absolute;
			left: 0;
			top: 0;
			z-index: 3;
		}

		&__list {
			margin: 0;
			padding: 0;
			height: 100%;
			
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		
			
			li+li{
				margin-top: 35px;
			}
		}


}

	/* burger end */

	/* --- header --- */
	/* --- content --- */
	.content {
		&__inner {
			min-height: 450px;
			
			line-height: 1.4em;

			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
		}

		&__link img {
			max-width: 290px;
			height: auto;
			display: inline-block;
			margin: 0 auto;
			border: 0;
			border-radius: 5px;
			opacity: 0.5;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
		}



		&__info{
			display: none;
		}
	}
	

	.content__avatar {
		position: relative;
		svg {
			
			width: 90%;
			position: absolute;
			bottom: 7%;
			left: 5%;
		}
	}

	.transition-fade {
		transition: 0.4s;
		opacity: 1;
	}

	html.is-animating .transition-fade {
		opacity: 0;
	}
	/* --- content --- */

	/* social */
	.social {
		position: absolute;
		bottom: -3px;
		left: 26px;

		ul {
			padding-inline-start: 0px;
		}

		&__inner li {
			display: inline-block;
			padding: 0;
			list-style: none;
			text-align: center;
			& + li {
				margin-left: 7px;
			}
		}
	}
	/* social */
}
/* ---------------------------------------------------------------------  320  --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------  660  --------------------------------------------------------------------- */
@media (min-width: 660px) {

	/* burger */

	/* burger */
	/* --- content --- */
	.content {
		&__avatar {
			margin-bottom: 57px;
		}

		&__inner {
			padding-top: 57px;
			
		}

		&__link img {
			max-width: 320px;
		}
		&__info {
			min-width: 500px;
			padding: 0;
		}
	}
	.summery {
		text-align: center;
	}
	/* --- content --- */

	/* signature svg */



	#signature path:nth-child(1){
		stroke-dasharray: 206px; 
		stroke-dashoffset: 206px;
		animation: anim-line 2s ease forwards 0.3s;
	}
	#signature path:nth-child(2){
		stroke-dasharray: 212px; 
		stroke-dashoffset: 212px;
		animation: anim-line 2s ease forwards 0.5s;
	}
	#signature path:nth-child(3){
		stroke-dasharray: 135px; 
		stroke-dashoffset: 135px;
		animation: anim-line 2s ease forwards 0.8s;
	}			
	#signature path:nth-child(4){
		stroke-dasharray: 105px; 
		stroke-dashoffset: 105px;
		animation: anim-line 2s ease forwards 1.1s;
	}
	#signature path:nth-child(5){
		stroke-dasharray: 82px; 														
		stroke-dashoffset: 82px;
		animation: anim-line 2s ease forwards 1.4s;
	}			
	#signature path:nth-child(6){
		stroke-dasharray: 151px; 
		stroke-dashoffset:151px;	
		animation: anim-line 2s ease forwards 1.7s;
	}		
	#signature path:nth-child(7){
		stroke-dasharray: 275px; 
		stroke-dashoffset: 275px;
		animation: anim-line 2s ease forwards 2s;
	}
	#signature path:nth-child(8){
		stroke-dasharray: 176px; 
		stroke-dashoffset:  176px;
		animation: anim-line 2s ease forwards 2.3s;
	}
	#signature path:nth-child(9){
		stroke-dasharray: 163px; 
		stroke-dashoffset: 163px;
		animation: anim-line 2s ease forwards 2.6s;
	}
	#signature path:nth-child(10){
		stroke-dasharray: 176px; 
		stroke-dashoffset: 176px;
		animation: anim-line 2s ease forwards 2.9s;
	}
	#signature path:nth-child(11){
		stroke-dasharray: 82px; 
		stroke-dashoffset: 82px;
		animation: anim-line 2s ease forwards 3.2s ;
	}
	#signature path:nth-child(12){
		stroke-dasharray: 151px; 	
		stroke-dashoffset: 151px;
		animation: anim-line 2s ease forwards 3.5s;
	}			
	#signature path:nth-child(13){
		stroke-dasharray: 125px; 
		stroke-dashoffset: 125px;
		animation: anim-line 2s ease forwards 3.7s;
	}


	@keyframes anim-line {
		to{
			stroke-dashoffset: 0;
		}
		
	}
/* signature svg */
}
/* ---------------------------------------------------------------------  660  --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------  768  --------------------------------------------------------------------- */
@media (min-width: 768px) {
	/* --- content --- */
	.content {
		&__avatar {
			margin-bottom: 57px;
		}

		&__inner {
			padding-top: 57px;
			
		}




	}
	/* --- content --- */
			
}



/* ---------------------------------------------------------------------  768  --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------  1024  --------------------------------------------------------------------- */
@media (min-width: 1024px) {
	/* --- content --- */
	.content {
		&__avatar {
			margin-bottom: 77px;

		}

		&__inner {
			padding-top: 77px;
			
		}

		&__link img {
			max-width: 540px;
		}

		
	}
	/* --- content --- */
}
/* ---------------------------------------------------------------------  1024  --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------  1400  --------------------------------------------------------------------- */
@media (min-width: 1400px) {
	.wrapper {
		min-height: 70%;
		max-width: 80%;
	}
	.nav li {
		display: inline-block;
	}
	.nav__burger {
		display: none;
	}

	.menu .menu__item{
		@include responsive-font(18, 14)
	}
	/* --- content --- */
	.content {
		box-shadow: inset -1em 1em 20px -7px #7c9490;
		border-radius: 7px;
		padding: 7px;

		


		&__avatar {
			margin-bottom: 0;
			svg {
				width: 100%;
				bottom: 7%;
				left: 17%;
			}
		}
		&__inner {
			min-height: calc(100vh - 180px);
			@include responsive-font(27, 14)
		}

		&__link {
			cursor: pointer;
		}
		&__link img {
			max-width: 370px;
		}

		&__info {
			display: block;
			width: 50%;
			padding: 0 10px 10px 15px;
		}

		&__info ul {
			padding: 0;
		}

		&__info span {
			padding-left: 27px;
		}

		&__info a {
			color: $main-color;
			text-decoration: none;
		}
	}
	/* --- content --- */

	/* social */
	.social {
		bottom: 7px;
		left: 37px;

		ul {
			padding-inline-start: 0px;
		}

		&__inner li {
			display: inline-block;
			padding: 0;
			list-style: none;
			text-align: center;
			& + li {
				margin-top: 7px;
			}
		}
	}
	/* social */
}

/* ---------------------------------------------------------------------  1400  --------------------------------------------------------------------- */
